﻿@model WebApp.Models.EventLog

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EventLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vAction" class="control-label"></label>
                <input asp-for="vAction" class="form-control" />
                <span asp-validation-for="vAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vInput" class="control-label"></label>
                <input asp-for="vInput" class="form-control" />
                <span asp-validation-for="vInput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vOutput" class="control-label"></label>
                <input asp-for="vOutput" class="form-control" />
                <span asp-validation-for="vOutput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iResult" class="control-label"></label>
                <input asp-for="iResult" class="form-control" />
                <span asp-validation-for="iResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dProcessTimestamp" class="control-label"></label>
                <input asp-for="dProcessTimestamp" class="form-control" />
                <span asp-validation-for="dProcessTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vClientInfo" class="control-label"></label>
                <input asp-for="vClientInfo" class="form-control" />
                <span asp-validation-for="vClientInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
