﻿@model WebApp.Models.EventLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vInput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vInput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vOutput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vOutput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dProcessTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dProcessTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vClientInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vClientInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
