﻿@model IEnumerable<WebApp.Models.EventLog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vInput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dProcessTimestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vInput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vOutput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dProcessTimestamp)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
